body{
    background-image: url(../img/Menu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    display: flex;
    backdrop-filter: blur(5px);
}

#menu{
    font-family: 'Lobster', sans-serif;
    font-size:80px;
    color: #EBFF00;
    position:relative;
    margin-bottom: 60px;
   
}
#main{
    font-family: 'Lobster', sans-serif;
    font-size: 23px;
    color:#ED1818;
    position:relative;
    margin-top: 22px;
    margin-right: 5px;
    border-width: 5px;
     
}
.card{
    border-radius: 35px !important;
    background: transparent !important;

}

.card img{
    border-radius: 40px !important;
 
}

.card-img-overlay{
    position: relative;
    backdrop-filter: blur(3px);
    border-radius: 35px !important;
    
}

.card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fffcfc !important;
    font-family:'Lobster', sans-serif;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    transition: background-color 0.3s, color 0.3s; 
}

.card:hover .card-img-overlay {
    backdrop-filter: none; 
    border-radius: 40px;
}

.card:hover .card-body {
    background-color: transparent; 
    color: transparent !important; 
}

#row{
    margin-top: 20px;
}

.card, .card img {
    height: 300px; 
    width: 250px; 
    object-fit: cover; 
}
